<% content_for :aside do %>
  <%= render 'shared/nav_category' %>
<% end %>

<article class="post">
  <header>
    <h1><%= @post.title %></h1>
  </header>

<!--   <p><%= link_to("Back", :back, class: 'back-link') %></p> -->

  <p class="published-date">
    Posted on
    <%= marked_up_date_or_time(@post.published_at) %>
  </p>

  <div>
    <div class="body">
      <%= render_markdown(@post.body) %>
    </div>
  </div>

  <%= render 'shared/tags', object: @post %>

</article>
