<!DOCTYPE html>
<html>
<head>
  <title>Themitchell</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href="/" class="logo">themitchell.co.uk</a>

  <nav>
    <ul>
      <li><%= link_to "Blog", posts_path %></a></li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
